.main{
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img{
    width: 40px;
    border-radius: 50%;
}

.main .mainContainer{
    max-width: 900px;
    margin: auto;
}

.main .greet{
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.main .greet .span{
    background: linear-gradient(
        to right,
        rgb(250, 78, 10),
        rgb(247, 12, 204),
        rgb(0, 106, 255),
        rgb(48, 248, 255),
        rgb(250, 78, 10)
    );
    background-clip: text;
    color: transparent;
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;
}
@keyframes gradientAnimation{
    0%{
        background-position: 200% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}